[submodule "backend/Backend"]
	path = backend/Backend
	url = https://github.com/AlcatrazPM/Backend
[submodule "frontend/frontend"]
	path = frontend/frontend
	url = https://github.com/AlcatrazPM/frontend
